<div class="container-fluid">
    <div class="row justify-content-center">
        
      <div class="col-12 col-lg-10 col-xl-8">
        <h2 class="h3 mb-4 page-title">Ma description</h2>
        <div class="my-4">
          <form>
            <div class="row mt-5 align-items-center">
                <div class="col-md-3 text-center mb-5 position-relative">
                    <label for="upload-avatar" class="position-relative d-inline-block" style="cursor: pointer;">
                        <!-- Image de profil -->
                        <img src="../../../../public/images/profil.jpg" alt="..." class="avatar-img rounded-circle" style="width: 120px; height: 120px; object-fit: cover;">
                  
                        <!-- Icône caméra en bas à droite -->
                        <div class="position-absolute" style="bottom: 0; right: 0; background-color: white; border-radius: 50%; padding: 6px;">
                          <i class="fe fe-camera fe-16"></i>
                        </div>
                      </label>
                  
                      <!-- Champ fichier caché -->
                      <input type="file" id="upload-avatar" accept="image/*" style="display: none;">
                  </div>
                  
              <div class="col">
                <div class="row align-items-center">
                  <div class="col-md-7">
                    <h4 class="mb-3">Bonjour je suis Angoty, une Développeuse Full-Stack</h4>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col-md-7">
                    <p class="text-muted">Actuellement je suis en master 2 à l'université Côte d'Azur...</p>
                    <p class="small mb-0 text-muted">Numéro de téléphone: +261 (0) 32 21 344 71</p>
                    <p class="small mb-0 text-muted">Adresse: LOT AVB 21 Avarabohitra Itaosy</p>
                    <p class="small mb-0 text-muted">LinkedIn: <a href="http://www-linkedin.com/angoty-rabarijaona">Angoty RABARIJAONA</a> </p> 

                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4">
              <div class="form-group">
                <label for="firstname">Titre</label>
                <textarea class="form-control" id="example-textarea" rows="4"></textarea>
            </div>
            <div class="form-group">
                <label for="inputEmail4">Description:</label>
                <textarea class="form-control" id="example-textarea" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Sauvegarder</button>
          </form>
        </div> 
      </div> 
    </div>
  </div> 